body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #e3f9f6;
}

.slider {
    border-radius: 10px;
    width: 600px;
    height: 350px;
    overflow: hidden;
    border: 7px solid white;
    box-shadow: 0 5px 18px rgba(0,0,0,0.6);
}
.slides {
    width: 500%;
    height: 350px;
    display: flex;
}

.slides input {
    display: none;
}
.slide {
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 600px;
    height: 350px;
}

/* for manual slide navigation */
.navigation-manual {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 600px;
    margin-top: -40px;
}
.manual-btn {
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    border: 3px solid white;
    padding: 5px;
    width: 20px;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover{
    background: #2fc7bf;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
/* for automatic navigation */
.navigation-auto{
    position: absolute;
    justify-content: center;
    margin-top: 460px;
    display: flex;
    width: 800px;
}

.navigation-auto div{
    border-radius: 10px;
    transition: 1s;
    border: 3px solid #c43af3;
    padding: 5px;
    width: 30px;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #2fc7bf;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #2fc7bf;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #2fc7bf;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #2fc7bf;
}